[Unit]
Description=Run Van WiFi Auto-Fallback periodically

[Timer]
OnBootSec=60
OnUnitActiveSec=20
Unit=van-wifi-autofallback.service

[Install]
WantedBy=timers.target
